version: 2.1

jobs:
  build-test-linux:
    resource_class: medium+
    parameters:
        resolver:
            type: string
    docker:
        - image: haskell:latest
    steps:
      - checkout
      - run:
          name: Install libpcre
          command: pkg-config --exists libpcre || apt-get update && apt-get install -y --no-install-recommends libpcre3-dev
      - run:
          name: Install curl
          command: command -v curl || apt-get update && apt-get install -y --no-install-recommends curl
      - restore_cache:
          name: Restore Cached Dependencies
          keys:
            - haskell-v2-linux-<<parameters.resolver>>-{{ checksum "package.yaml" }}
      - run:
          name: Resolve/Update Dependencies
          command: stack --no-terminal --resolver=<<parameters.resolver>> setup --install-ghc
      - run:
          name: Build library
          command: stack --no-terminal --resolver=<<parameters.resolver>> build
      - run:
          name: Run tests
          command: stack --no-terminal --resolver=<<parameters.resolver>> test

      - run:
          name: make test output directory
          command: mkdir /tmp/test-results
      - run: make build-contract-tests STACKOPS='--resolver=<<parameters.resolver>>'
      - run:
          command: make start-contract-test-service STACKOPS='--resolver=<<parameters.resolver>>'
          background: true
      - run:
          name: run contract tests
          command: TEST_HARNESS_PARAMS="-junit /tmp/test-results/contract-tests-junit.xml" make run-contract-tests
      - store_test_results:
          path: /tmp/test-results/

      - save_cache:
          name: Cache Dependencies
          key: haskell-v2-linux-<<parameters.resolver>>-{{ checksum "package.yaml" }}
          paths:
            - "/root/.stack"
            - ".stack-work"
            - "contract-tests/.stack-work"

  build-test-osx:
    parameters:
        resolver:
            type: string
    macos:
      xcode: "12.5.1"
    steps:
      - checkout
      - run:
          name: Install deps
          command: brew install haskell-stack pcre pkg-config
      - restore_cache:
          name: Restore Cached Dependencies
          keys:
            - haskell-v3-osx-<<parameters.resolver>>-{{ checksum "package.yaml" }}
      - run:
          name: Resolve/Update Dependencies
          command: stack --no-terminal --resolver=<<parameters.resolver>> setup
      - run:
          name: Build
          command: stack --no-terminal --resolver=<<parameters.resolver>> build
      - run:
          name: Run tests
          command: stack --no-terminal --resolver=<<parameters.resolver>> test
      - save_cache:
          name: Cache Dependencies
          key: haskell-v3-osx-<<parameters.resolver>>-{{ checksum "package.yaml" }}
          paths:
            - "/Users/distiller/.stack"
            - ".stack-work"

  run-quality-checks:
    docker:
      - image: haskell:9.0.2
    working_directory: ~/sdk
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: apt-get update && apt-get install -y --no-install-recommends jq git
      - restore_cache:
          name: Restore Cached Dependencies
          keys:
            - quality-checks-v0
      - run:
          name: Install hpack and fourmolu
          command: |
            cd ..
            cabal update
            cabal install hpack-0.35.1 --overwrite-policy=always
            cabal install fourmolu-0.10.1.0 --overwrite-policy=always
            cd -
      - run:
          name: Verify the generated .cabal file is up-to-date
          command: |
            hpack
            if [ $(git status --porcelain | wc -l) -gt 0 ]; then
              echo "hpack resulted in modified files. Please run hpack locally and commit those changes"
              echo ""
              echo "Showing the results of `git status`"
              git status
              exit -1
            fi
      - run:
          name: Install and run hlint
          command:
            curl -sSL https://raw.github.com/ndmitchell/hlint/master/misc/run.sh | sh -s .
      - run:
          name: Run formatting check
          command: fourmolu --mode check src test
      - save_cache:
          name: Cache Dependencies
          key: quality-checks-v0
          paths:
            - "/root/.cabal"

workflows:
  version: 2
  build_and_test_all:
    jobs:
      - run-quality-checks
      - build-test-linux:
          matrix:
              parameters:
                resolver: ["lts-16.31", "lts-18.28", "lts-19.33", "lts-20.11"]
      - build-test-osx:
          matrix:
              parameters:
                resolver: ["lts-16.31", "lts-18.28", "lts-19.33", "lts-20.11"]
