version: 2.1
jobs:
  build-test-linux:
    docker:
      - image: fpco/stack-build:lts
    steps:
      - checkout
      - restore_cache:
          name: Restore Cached Dependencies
          keys:
            - haskell-v1-linux-{{ checksum "stack.yaml" }}-{{ checksum "package.yaml" }}
            - haskell-v1-linux-{{ checksum "stack.yaml" }}
      - run:
          name: Resolve/Update Dependencies
          command: stack --no-terminal setup
      - run:
          name: Build
          command: stack --no-terminal build
      - run:
          name: Run tests
          command: stack --no-terminal test
      - save_cache:
          name: Cache Dependencies
          key: haskell-v1-linux-{{ checksum "stack.yaml" }}-{{ checksum "package.yaml" }}
          paths:
            - "/root/.stack"
            - ".stack-work"

      - run:
          name: make test output directory
          command: mkdir /tmp/test-results
      - run: make build-contract-tests
      - run:
          command: make start-contract-test-service
          background: true
      - run:
          name: run contract tests
          command: TEST_HARNESS_PARAMS="-junit /tmp/test-results/contract-tests-junit.xml" make run-contract-tests

      - store_test_results:
          path: /tmp/test-results/

  build-test-osx:
    macos:
      xcode: "12.5.1"
    steps:
      - checkout
      - run:
          name: Install deps
          command: brew install haskell-stack pcre pkg-config
      - restore_cache:
          name: Restore Cached Dependencies
          keys:
            - haskell-v1-osx-{{ checksum "stack.yaml" }}-{{ checksum "package.yaml" }}
            - haskell-v1-osx-{{ checksum "stack.yaml" }}
      - run:
          name: Resolve/Update Dependencies
          command: stack --no-terminal setup
      - run:
          name: Build
          command: stack --no-terminal build
      - run:
          name: Run tests
          command: stack --no-terminal test
      - save_cache:
          name: Cache Dependencies
          key: haskell-v1-osx-{{ checksum "stack.yaml" }}-{{ checksum "package.yaml" }}
          paths:
            - "/root/.stack"
            - ".stack-work"

workflows:
  version: 2
  build_and_test_all:
    jobs:
      - build-test-linux
      - build-test-osx
