version: 2.1

jobs:
  build-test-linux:
    resource_class: medium+
    parameters:
        resolver:
            type: string
            default: 'lts-14.1'
    docker:
        - image: fpco/stack-build:<<parameters.resolver>>
    environment:
      STACK_YAML: stack-<<parameters.resolver>>.yaml
    steps:
      - checkout
      - run:
          name: Install libpcre
          command: pkg-config --exists libpcre || apt-get update && apt-get install -y --no-install-recommends libpcre3-dev
      - run:
          name: Install curl
          command: command -v curl || apt-get update && apt-get install -y --no-install-recommends curl
      - restore_cache:
          name: Restore Cached Dependencies
          keys:
            - haskell-v1-linux-{{ checksum "stack-<<parameters.resolver>>.yaml" }}-{{ checksum "package.yaml" }}
            - haskell-v1-linux-{{ checksum "stack-<<parameters.resolver>>.yaml" }}
      - run:
          name: Resolve/Update Dependencies
          command: stack --no-terminal setup
      - run:
          name: Build library
          command: stack --no-terminal build
      - run:
          name: Build Redis store
          command: |
            cd ./stores/launchdarkly-server-sdk-redis/
            stack --no-terminal build
      - run:
          name: Install and run hlint
          command:
            curl -sSL https://raw.github.com/ndmitchell/hlint/master/misc/run.sh | sh -s .
      - run:
          name: Run tests
          command: stack --no-terminal test
      - save_cache:
          name: Cache Dependencies
          key: haskell-v1-linux-{{ checksum "stack-<<parameters.resolver>>.yaml" }}-{{ checksum "package.yaml" }}
          paths:
            - "/root/.stack"
            - ".stack-work"

      - run:
          name: make test output directory
          command: mkdir /tmp/test-results
      - run: make build-contract-tests
      - run:
          command: make start-contract-test-service
          background: true
      - run:
          name: run contract tests
          command: TEST_HARNESS_PARAMS="-junit /tmp/test-results/contract-tests-junit.xml" make run-contract-tests

      - store_test_results:
          path: /tmp/test-results/

  build-test-linux-ghc:
    parameters:
        ghc-version:
            type: string
            default: '9.0.2'
    docker:
      - image: haskell:<<parameters.ghc-version>>
    environment:
      STACK_YAML: stack-ghc-<<parameters.ghc-version>>.yaml
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: apt-get update && apt-get install -y --no-install-recommends libpcre3-dev
      - restore_cache:
          name: Restore Cached Dependencies
          keys:
            - haskell-v1-linux-{{ checksum "stack-ghc-<<parameters.ghc-version>>.yaml" }}-{{ checksum "package.yaml" }}
            - haskell-v1-linux-{{ checksum "stack-ghc-<<parameters.ghc-version>>.yaml" }}
      - run:
          name: Resolve/Update Dependencies
          command: stack --no-terminal setup
      - run:
          name: Build
          command: stack --no-terminal build
      - run:
          name: Run tests
          command: stack --no-terminal test
      - save_cache:
          name: Cache Dependencies
          key: haskell-v1-linux-{{ checksum "stack-ghc-<<parameters.ghc-version>>.yaml" }}-{{ checksum "package.yaml" }}
          paths:
            - "/root/.stack"
            - ".stack-work"


  build-test-osx:
    parameters:
        resolver:
            type: string
            default: 'lts-14.1'
    macos:
      xcode: "12.5.1"
    environment:
      STACK_YAML: stack-<<parameters.resolver>>.yaml
    steps:
      - checkout
      - run:
          name: Install deps
          command: brew install haskell-stack pcre pkg-config
      - restore_cache:
          name: Restore Cached Dependencies
          keys:
            - haskell-v3-osx-{{ checksum "stack-<<parameters.resolver>>.yaml"}}-{{ checksum "package.yaml" }}
            - haskell-v3-osx-{{ checksum "stack-<<parameters.resolver>>.yaml"}}
      - run:
          name: Resolve/Update Dependencies
          command: stack --no-terminal setup
      - run:
          name: Build
          command: stack --no-terminal build
      - run:
          name: Run tests
          command: stack --no-terminal test
      - save_cache:
          name: Cache Dependencies
          key: haskell-v3-osx-{{ checksum "stack-<<parameters.resolver>>.yaml"}}-{{ checksum "package.yaml" }}
          paths:
            - "/Users/distiller/.stack"
            - ".stack-work"

  verify-cabal-is-updated:
    docker:
      - image: haskell:9.0.2
    working_directory: ~/sdk
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: apt-get update && apt-get install -y --no-install-recommends jq git
      - run:
          name: Install hpack
          command: |
            cd ..
            cabal update
            cabal install hpack-0.35.0
            cd -
      - run:
          name: Verify the generated .cabal file is up-to-date
          command: |
            hpack
            if [ $(git status --porcelain | wc -l) -gt 0 ]; then
              echo "hpack resulted in modified files. Please run hpack locally and commit those changes"
              echo ""
              echo "Showing the results of `git status`"
              git status
              exit -1
            fi

workflows:
  version: 2
  build_and_test_all:
    jobs:
      - verify-cabal-is-updated
      - build-test-linux:
          matrix:
              parameters:
                resolver: ["lts-14.1", "lts-16.31", "lts-18.27", "lts-19.13"]
      - build-test-linux-ghc:
          matrix:
              parameters:
                ghc-version: []
      - build-test-osx:
          matrix:
              parameters:
                resolver: ["lts-14.1", "lts-16.31", "lts-18.27", "lts-19.13"]
