on:
  workflow_dispatch:

name: Publish Documentation
jobs:
  build-publish:
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Needed if using OIDC to get release secrets.
      contents: write # Needed in this case to write github pages.

    steps:
      - uses: actions/checkout@v4

      - name: Install PCRE development libraries
        run: sudo apt-get update && sudo apt-get install -y libpcre3-dev

      - uses: ./.github/actions/setup-cache

      - name: Build and Test
        uses: ./.github/actions/ci
        with:
          token: ${{secrets.GITHUB_TOKEN}}

      - name: Build docs
        uses: ./.github/actions/build-docs

      - name: Publish Documentation
        uses: ./.github/actions/publish-docs
        with:
          token: ${{secrets.GITHUB_TOKEN}}
